* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
   
}
body{
    background-color: rgb(214, 247, 247);
}
.header {
    padding: 70px;
    font-family: cursive;
    background-color: rgb(5, 0, 31); 
    color: #ffffff;
    
}

#top{
    display: flex;
}

.headerpic{
    display: inline-block;
    height: 150px;
    width: 130px;
    margin-left: 45%;
    border-radius: 50%;
   
   
}
h1{
    position: absolute;
    top: 50px;
    left: 50px;
    background-color: grey;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 60px;
}

img{
    width: 100%;
    height: 333px;
}

.mainpic{
    display: inline-block;
    width: 650px;
    height: 350px;
    margin-top: 70px;
    border: 8px solid rgb(5, 0, 31);
    display: flex;
    opacity: 80%;
}

.mainpic:hover{
    opacity: 100%;
}

.mainpic2:hover{
    opacity: 100%;
}

.mainpic3:hover{
    opacity: 100%;
}

.mainpic2,
.mainpic3 {
    display: inline-block;
    width: 600px;
    height: 300px;
    margin-top: 70px;
    border: 8px solid rgb(5, 0, 31);
    opacity: 80%;
    
    
}


.aboutme{
    margin-left: 4%;
    display: flex;
}


.work{
    margin-left: 4%;
    line-height: 300px; 
    display: flex;
}
.bottom{
    margin-left: 4%;
    position: absolute;
    bottom: -210%;
    display: flex;
    
}
aside{
    font-size: 35px;
    font-family: cursive;
   
    
}

  
.content {
    width: 50%;
    margin-left: 35%;
    padding-top: 3%;

    
}
.floatright{
    float: right;
    margin-right: 60px;
    
}
  



.container{
    position: relative;
}
.container2,
.container3,
.container4 {
    position: relative;
}
.textblock2,
.textblock3,
.textblock4{
    position: absolute;
    bottom:50px;
    right: 50px;
    background-color: grey;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 40px;
}
.textblock{
    position: absolute;
    bottom:50px;
    right: 50px;
    background-color: grey;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 40px;
}


 #top{
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: cursive;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}
.toplinks {
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;

}
.btm a {
margin-top: 90px;
margin-bottom: 60px;
font-size: 25px;
float: right;
margin-right: 20px;
color: rgb(5, 0, 31);
}
.btm nav ul{
    list-style-type: none;
}
.btm nav ul li{
    display: inline-block;
    margin-left: 25px;
    
}

