* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
   
}
/*background color for after header*/
body{
    background-color: rgb(231, 223, 177);
}
/*header details added*/
.header {
    padding: 70px;
    font-family: cursive;
    background-color: rgb(235, 193, 102); 
    color: #ffffff;
}

/*profile picture*/
.headerpic{
    display: inline-block;
    height: 150px;
    width: 130px;
    margin-left: 45%;
    border-radius: 50%;
   
   
}

/*header name styles and alignment*/
h1{
    position: absolute;
    top: 50px;
    left: 50px;
    background-color: rgb(153, 114, 6);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 60px;
}

img{
    width: 100%;
    height: 333px;
}

.mainpic{
    display: inline-block;
    width: 650px;
    height: 350px;
    margin-top: 70px;
    border: 8px solid rgb(5, 0, 31);
    display: flex;
    opacity: 80%;
}

/*hover details for pictures*/
.mainpic:hover{
    opacity: 100%;
}

.mainpic2:hover{
    opacity: 100%;
}

.mainpic3:hover{
    opacity: 100%;
}

.mainpic4:hover{
    opacity: 100%;
}

/*picture alignments*/
.mainpic2,
.mainpic3,
.mainpic4,
.mainpic5 {
    display: inline-block;
    width: 600px;
    height: 300px;
    margin-top: 70px;
    border: 8px solid rgb(5, 0, 31);
    opacity: 80%;
    
    
}

/*alignments for left headers*/
.aboutme{
    margin-left: 4%;
    display: flex;
    
}

#aboutme{
    margin-top: 70px;
}

.work{
    margin-left: 4%;
    line-height: 140px; 
    display: flex;
    
}
.bottom{
    margin-left: 0%;
    position: absolute;
    bottom: -222%;
    display: flex;
    
    
}
aside{
    font-size: 35px;
    font-family: cursive;
    margin-bottom: 50px;
    
}

  
.content {
    width: 50%;
    margin-left: 35%;
    padding-top: 3%;

    
}
.floatright{
    float: right;
    margin-right: 60px;
  
    
}
  



.container{
    position: relative;
}
.container2,
.container3,
.container4,
.container5,
.container6 {
    position: relative;
}

/*text blocks for picture links*/
.textblock2,
.textblock3,
.textblock4,
.textblock5,
.textblock6 {
    position: absolute;
    bottom:50px;
    right: 50px;
    background-color: rgb(153, 114, 6);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 40px;
}
.textblock{
    position: absolute;
    bottom:50px;
    right: 50px;
    background-color:rgb(153, 114, 6);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 40px;
}


/*alignment and style for top links*/
 #top{
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: cursive;
    font-size: 20px;
}

#top ul {
    list-style-type: none;
}

#top ul li {
    display: inline-block;
    margin-left: 25px;
}
.toplinks {
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;

}



/*alignment and style for bottom contact me links*/
/* .contactme{
    padding-top: 15px;
    margin-right: 20px;
    
    float: right;
    font-family: cursive;
    font-size: 20px;

   
} */

#contactme ul {
    list-style-type: none;
}

#contactme ul li {
    display: inline-block;
    margin-left: 25px;
}

.btm,
#repo {
    color: black;
    font-size: 20px;
    text-decoration: none;

}
#repo {
    float: right;
}
.btm{
    padding-bottom: 50%;
}
  .link{
    position: relative;
    z-index: auto;
}